
.about {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    max-width: 1200px;
    padding: 0 20px;
}
.about-us{
    margin-top:330px;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.flex {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}

.about-us h3 {
    font-size: 30px;
    margin-bottom: #ffffff;
    color: #1c2331;
}
.about-us p {
    font-size: 16px;
    line-height: 1.5;
    color: #1c2331;
    margin-bottom: 20px;
}
.about-us img{
    display: block;
    max-width: 100%;
    height: auto;
    margin:0 auto;

}
.btn-hover:hover {
    transform: translateY(-3px);
    color: #fff;

}
