.navbar {
    background-color: #7DABF0;
}

.house {
    border: 1px solid #ccc;
    padding: 1%;
    margin: 3%;
    width: 15.5%;
    display: inline-block;
    background-color: white;
}

.house img {
    max-width: 100%;
}

.old-price {
    text-decoration: line-through; 
    color: red; 
}

.specialmain{
    text-align: center;
    background-color: lightblue;

}
.housepics{
    height: 25%;
    width: 99%;
}
@media (max-width: 767px) {
    .house {
        width: calc(50% - 20px); 
    }
}

.audio{
    background-color: lightblue;
}