.trip {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
}
.navbar {
    background-color: #7DABF0;
}

.trip img {
    max-width: 150px;
    max-height: 150px;
    margin-right: 20px;
} 

.trip-description {
    flex: 1;
}

.maintripdiv{
    background-color: #E6E8F0;
}